<!--
<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
-->

<div class="jumbotron">

    <div class="lead">
        <form action="" class="dropzone" dropzone="" id="dropzone">
            <div class="dz-default dz-message"></div>
            Click to Upload
        <form>
    </div>

<!--
    <div class="btn-lg">
      <button class="btn btn-success" ng-click="uploadFile()">Upload Image</button>
      <button class="btn btn-danger" ng-click="reset()">Reset</button>
    </div>
-->

</div>

<div class="jumbotron" ng-controller="SalesController">
  <div linear-chart class=chart chart-data="salesData"></div>
  <div class="lead">
  Classification Result
  </div>
</div>
