<div >

<h2> Demo: Neural Style Transfer on Owl </h2>
<div class="lead">
<p>
  The code of the demo can be found in this <a href=https://gist.github.com/jzstark/5826ad7f75c589276984e8d4161ef3c7> Gist </a>. (Work in progress)
</p>
</div>

<div class="jumbotron">
  <table style="width:100%">
    <tr>
      <th><img src="images/c1.png" style="width:100%" alt="content image 1"></th>
      <th><img src="images/s1.png" style="width:100%" alt="style image 1"></th>
      <th><img src="images/r1_1.png" style="width:100%" alt="transfer result 1"></th>
    </tr>
  </table>
</div>

</div>
