<div ng-controller="SalesController3">

<h2>Demo: Mask R-CNN with Owl</h2>
<div class="lead">
<p> <a href="https://github.com/pvdhove/owl-mask-rcnn">Mask R-CNN</a> is a relatively new neural network architecture to detect and classify objects in a picture. You can here try the inference mode of the model pre-trained on the MS-Coco dataset - it can recognise 80 common classes of objects. </p>
<p> Our server has processed {{processed}} images. </p>
</div>

<div class="jumbotron" >

    <div class="lead">
        <form action="" class="dropzone" dropzone3="" chart-data="salesData" id="dropzone">
            <div class="dz-default dz-message">Click to Upload<br>or<br>Drag &amp; Drop </div>
        <form>
    </div>

</div>


<div class="jumbotron">
  <p> Output Image </p>
  <div class="lead">
  <img ng-src="{{image}}">
  </div>
</div>

<!--
<div class="jumbotron">
  <div linear-chart class=chart chart-data="salesData"></div>
  <div class="lead">
  Classification Result
  </div>
</div> -->

<div>
<p> <b>Disclaimer:</b> We do not keep your uploaded image in our server.</p>
</div>
</div>

