<div ng-controller="SalesController">

<h2> Demo: Fast Neural Style Transfer </h2>
<div class="lead">
<p>The code of this demo can be found in this <a href=https://gist.github.com/jzstark/f937ce439c8adcaea23d42753f487299> Gist </a>. </p>
</div>

<div class="jumbotron" >

    <div class="lead">
        <form action="" class="dropzone" dropzone="" chart-data="salesData" id="dropzone">
            <div class="dz-default dz-message">Click to Upload<br>or<br>Drag &amp; Drop </div>
        <form>
    </div>

</div>

<!--
<div class="jumbotron">
  <div class=chart chart-data="salesData"></div>
  <div class="lead">
  <img ng-src="{{ salesData }}">
  </div>
</div>
-->
<div class="jumbotron">
  <div class=chart chart-data="salesData"></div>
  <div class="lead" ng-init="salesData='example.jpg'">
  <img ng-src="{{salesData}}">
  </div>
</div>

<div class="jumbotron">
  <div class="lead">
  Total number of processed images: {{processed}}
  </div>
</div>

<div>
<p> <b>Disclaimer:</b> We do not keep your uploaded image in our server.</p>
</div>
</div>
